.heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px yellow;

}

.headdiv {
    float: none;
    background-color: red;
    padding: 10px;
    border-radius: 20px;
    color: blue;
    box-shadow: 5px 5px 5px yellow;
}

.hdiv2 {
    font-size: 20px
}

body {
    text-align: center;
    background-size:100% 100%;
     background-repeat:no-repeat;
    height: 90%;
}
.object1{
    box-shadow:5px 6px 5px blue;
    font-size:20px;
}
.Copyright{
    position:fixed;
    bottom:0;
    width:100%;
    background-color: black;
    color: lightcyan;
    font-weight: bold;
    text-align:center;
    line-height: 3;
}
canvas{
    border:5px dashed yellow;
    box-shadow:5px 6px 5px blue;
    margin-top:170px
}
